<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-richpush" version="0.0.1">
    
    <name>Rich Push Plugin</name>
    <description>Cordova Rich Push Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,outsystems,plugin</keywords>
    <repo></repo>
    <issue></issue>

    <!-- js -->
    <js-module name="OSRichPush" src="www/OSRichPush.js">
        <clobbers target="OSRichPush" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OSRichPush">
                <param name="ios-package" value="OSRichPush" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/OSRichPush.h"/>
        <source-file src="src/ios/OSRichPush.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="OSRichPush">
                <param name="android-package" value="org.apache.cordova.richpush.OSRichPush"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/OSRichPush.java" target-dir="src/org/apache/cordova/richpush" />
    </platform>
</plugin>
